language: python
sudo: false
cache:
  directories:
    - $HOME/.cache/pip

python:
 - "3.2"
 - "3.3"
 - "3.4"
 - "3.5"

env:
 - DJANGO="Django>=1.5,<1.6"
 - DJANGO="Django>=1.6,<1.7"
 - DJANGO="Django>=1.7,<1.8"
 - DJANGO="Django>=1.8,<1.9"
 - DJANGO="Django>=1.9,<1.10"

install:
 - pip install $DJANGO
 - pip install -e .

script: "./runtests.sh"

matrix:
  exclude:

    - python: "3.5"
      env: DJANGO="Django>=1.5,<1.6"
    - python: "3.5"
      env: DJANGO="Django>=1.6,<1.7"
    - python: "3.5"
      env: DJANGO="Django>=1.7,<1.8"

    - python: "3.4"
      env: DJANGO="Django>=1.5,<1.6"
    - python: "3.4"
      env: DJANGO="Django>=1.6,<1.7"

    - python: "3.3"
      env: DJANGO="Django>=1.9,<1.10"

    - python: "3.2"
      env: DJANGO="Django>=1.9,<1.10"
